<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('partial/head'); -%>

<body>

  <!-- Navigation Header -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Cửa hàng ốc vít</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Trang Chủ
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/gioi-thieu">Giới Thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lien-he">Liên hệ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- About content -->
  <div class="container mt-3">
    <h1>quangvien shop</h1>
    <p>Với mong muốn góp phần vào sự phát triển thương mại điện tử nước nhà. Công ty cổ phần SÀN ĐẸP cho ra đời website (<a href="http://noithatkb.com">noithatkb.com</a>) để mang đến cho khách hàng những sản phẩm sàn gỗ, sàn nhựa đẹp nhất, tốt nhất với giá rẻ nhất.</p>
    <p><strong>Hồ sơ năng lực công ty:</strong></p>
    <p>Tên giao dịch: Công ty Nội Thất KB</p>
    <p>Địa chỉ: Showroom 1: 959 Lũy Bán Bích, Tân Thành, Tân Phú</p>
    <p>Điện thoại : 077.555.3330</p>
    <p>Email: nguyenkhoabao.kts@gmail.com</p>
    <p>Đại diện&nbsp; &nbsp;: Nguyễn Khoa Bảo&nbsp; &nbsp; &nbsp;Chức vụ: Giám đốc</p>
    <p><strong>Lĩnh vực hoạt động:</strong></p>
    <p>Công ty TNHH Nội Thất KB đã có nhiều năm kinh nghiệm trong các lĩnh vực sau:</p>
    <p>Nhập khẩu, sản xuất, thi công, lắp đặt các loại <strong>sàn gỗ</strong> công nghiệp, <strong>sàn gỗ</strong> tự nhiên, <strong>sàn gỗ</strong> nhựa, <strong>sàn gỗ</strong> kỹ thuật,<strong> sàn gỗ</strong> ngoài trời, sàn cầu thang, <strong>cửa gỗ, giấy dán tường</strong>&nbsp;…<br> Bảo hành chuyên nghiệp.</p>
    <p>
      <strong>Khách hàng:</strong>
      Công ty TNHH Nội Thất KB với trách nhiệm và uy tín đặt lên hàng đầu, tất cả các dự án của công ty đều có tính cạnh tranh cao về công nghệ, tiến độ thực hiện, chất lượng công trình và giá thành. Do đó công ty có được sự hợp tác lâu dài với các đối tác.
    </p>
  </div>
  

  <!-- Footer -->
  <%- include('partial/footer'); -%>

</body>

</html>